<table class="min-w-full divide-y divide-gray-300">
  <thead class="bg-gray-50">
  <tr>
    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date Added</th>
  </tr>
  </thead>
  <tbody class="divide-y divide-gray-200 bg-white">
  <% users.each do |user| %>
  <tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
      <div class="flex items-center">
        <div class="h-10 w-10 flex-shrink-0">
          <span class="inline-flex items-center justify-center h-10 w-10 rounded-md bg-gray-500">
            <span class="font-medium leading-none text-white"><%= user.initials %></span>
          </span>
        </div>
        <div class="ml-4">
          <div class="font-medium text-gray-900">
            <%= link_to user_path(user) do %>
            <%= user.display_name %>
              <% end %>
              </div>
        </div>
      </div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-500"><%= user.email %></div>

    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-500"><%= user.created_at.strftime("%D") %></div>
    </td>

  </tr>
<% end %>
  </tbody>
</table>
